/* *{
  margin: 0;
  padding : 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  overflow: hidden;
}
.box{
  font-size: 4rem;
  border: 4px solid;
  max-width: 400px;
}
@media(width < 300px){
  .box{
    font-size: 2rem;
  }
} */


*{
  margin: 0;
  padding : 0;
  /* box-sizing: border-box; */
  font-family: sans-serif;
}
html{
  font-size: 15px;
}
body{
  font-size: 35px;
}

.box{
  width: 300px;
  border: 1px solid black;
}
p{
  font-size: 1rem; /* 25px hoise */
}



















/* body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  max-width: 500px;
  background-color: aliceblue;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 10px;
}
.container div{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}
h1{
  color: rgb(0, 255, 13);
  text-align: center;
}
.container div:nth-child(1){
  background-color: violet;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.container div:nth-child(2){
  background-color: springgreen;
}
.container div:nth-child(3){
  background-color: tomato;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.container div:nth-child(4){
  background-color: saddlebrown;
}
.container div:nth-child(5){
  background-color: darkcyan;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
} */
















/* ********NOTE*********  */

/* ******Grid******* */









/* FlexBox  */

/* flexbox is a css box model to easily layout, align and distribute space among items within a Container either horizontally or vertically . tar mane hocche kono container er vitor hoy horizontally othoba vertically align kora . jekono ek dike chinta korte hobe . noyto x direction e , noyto y direction e . kintu grid x , y 2 dikeii direction hoite pare */



/* padding with percentage */
/* padding jodi percentage diye dei tahole tar parent er width er theke percente hisheb korbe . box er parent section . section er width 400px . tai box e 10% padding dile 40px padding hobe */

/* Margin with percentage */
/* Similer to Padding with percentage . margin jodi percentage diye dei tahole tar parent er width er theke percente hisheb korbe . box er parent section . section er width 400px . tai box e 10% margin dile 40px margin hobe */

/* border er sathe percentage use kora jay na  */

/* Font Size with percentage  */
/* jei element e font size percentage e deya hoy sei element er parent er font size theke percentage hisheb kora hoy */

/* font size % e dile kokhono 6 px er niche jabe na . kintu jodi parent er font size manually set kora hoye thake pixel e tahole 6 px er niche jabe  */

/* percentage related conlclusion */
/* 1. width related to parent width */
/* 2. height related to parent absolute height */
/* 3. padding related to parent width */
/* 4. margin related to parent width */
/* 5. font-size related to parent font size */


/* viewport height and width */

/* All About em */
/*   
em : by default 1em = 16px
note 1 : em sob somoy font size er sathe related . ami jodi font-size 1 em dei tahole se dekhbe parent er font-size koto . jodi parent er font-size 20 px diye thake tahole tar child by default 1 em = 20 px dhorbe . jodi parent er font size 25 pixel thake tahole child e 3 em dile 75px apply hobe . jodi parent e kono font-size na deya thake tahole by default parent e 1em = 16px set thakbe . sei onujayii child element e font-size em e set hobe . tar mane tokhon child e 1 em = 16 px hobe . 

note 2 : em diye margin padding egulao deya jay . egular khetre tara parent er font-size dekhbe na . tar nijer element er font-size er sathe related thakbe . tar mane jei element e margin padding em e set thakbe sei element er font-size = 1 em dhorbe tara . jodi nijer element e font-size 32 px thake tahole padding and margin 1em = 32px, 2 em = 64px hobe. r jodi nijer element e kono font-size na deya thake taholeo nijer element e jei font-size thake setaii dhorbe .

example : 
body{
  font-size : 2em;  // 32px 
}
section{
  font-size: 2em; // 64px -- related to body font-size 
  padding: .5em; // 32px -- related to section font-size 
  margin: 1em; // 64px -- related to section font-size 
}

*/

/* All About rem  */
/* 
note : em jemon parent to parent calculate kore . kintu rem only root or html er sathe related . jodi ami html e font-size 12px dei tahole oi file er jekhaneii thakuk 1 rem = 12 px hishebe calculate hobe . jodi html e kono font-size set na kori tahole by default 1rem = 16px count hobe . and sob jaygay 1rem = 16px count hobe . jodi rem er value change korte chai tahole only root or html e font-size ja dibo setaii 1rem er value hobe. em er moto parent to parent related na

Example : 
html {
  font-size : 10px;  // 32px 
}
OR 
:root{
  font-size : 10px; 
}
section{
  font-size: 2rem; // 20px -- related to html font-size 
  padding: .5rem; // 5px -- related to html font-size 
  margin: 1em; // 10px -- related to html font-size 
}

*/

/* Position  */
/* 
Note 1 : By default sob element e position static deya thake 

Position : Relative 

Note 2 : jokhon position relative dei tokhon amra 4 ta property access korte parbo jeta position static deya obosthay parbo na . set holo 
1. top 
2. bottom 
3. left
4. right 
shorthand of top bottom left right is inset
position static thakle top bottom left right kichui kaj kore na . egula kaj korte hole static chara onno position thakle kaj korbe


Position : Absolute

Note 3 : jekono element e position absolute dile tar and jodi parent er kothau position relative na dey tahole oi absolute element viewport er sathe related hoye jay . tar mane jodi akhn top bottom left right set kori tahole element ta browser er viewport hishebe apply hobe

Note 4 : jodi parent e position relative na thake tahole tar grand parent e jodi relative thake tahole absolute element setar related top bottom left right hobe

Note 5 : position relative na thakleo jodi position fixed or sticky thake taholeo absolute tar related thakbe

Position : Fixed

Note 1 : absolute er khetre jemon parent e relative thakle setar sathe connect hoye jay , setar related change hoy, r jodi na thake tahole viewport er sathe connected hoye jay , kintu position fixed er khetre always viewport er sathe connect thakbe . tar mane position fixed dile alaways seta viewport er hishebe change hobe jodi top bottom left right dei

Position : Sticky

Note 1 : eta position relative er motoi . jokhon position sticky dei tokhon seta relative er motoii tar jaygay thake .kintu  top bottom left right use kora jay na relative er moto. relative er khetre top bottom left right diye ami chaile parent er baireo nite pari element ke . kintu sticky kokhono parent er baire jabe na . parent er vitore move hobe top bottom left right diye , kintu baire jabe na .

Note 2 : Navbar Project
ami jodi position sticky diye navbar banaite chai, othoba ami jodi chai nicher kono element jokhon scroll kore ashbe upore , aishaii jeno sekhane fixed hoye jay , r upore jeno na jay , ai khetre position sticky beshi use hoy . 
sei khetre ami navbar element jeno thik immidiate bodyr child hoy seta korte hobe . then top: 0 or top : 2px jai dei seta scroll hoye upore ashle r move hobe na .

Note 3 : 
important thing is sticky dile seta kokhonoii parent er baire jabe na . r top bottom left right only parent er related change hobe

na bujhle again video

*/

