*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.parent {
  /* padding: 10px; */
  /* border: 4px solid indianred; */
  display: flex;
}

.parent > span {
  /* border: 4px solid cadetblue; */
  /* width: 200px; */
  /* height: 300px; */
  background-color: cadetblue;
}

.parent p {
  /* border: 4px solid darkkhaki; */
  /* width: 400px; */
  background-color: blue;
}

.parent a {
  /* border: 4px solid yellowgreen; */
  /* width: 400px; */
  background-color: red;
}