* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.parent {
  padding: 10px;
  border: 4px solid indianred;
  display: flex;
  justify-content: space-between;
  height: 50vh;
}

.parent span {
  border: 4px solid red;
}

.parent p {
  border: 4px solid darkkhaki;
  align-self: auto;
}

.parent a {
  border: 4px solid blueviolet;
}

.parent > *{
  width: 200px;
}


/* 

Notes Start 

1. Max Content and Min Content 

jokhon ami kono element er upor width : max-content dei tokhon sei element 1 line e aisha pore , line break kore na 
jokhon ami width : min-content dibo tokhon sobcheye minimum width se nibe . tar mane p tag er moddhe sobcheye boro word er width jototuku thik tototukuii hobe p tag er width 

2. Flex Box 

jokhon amra kono element er upor display : flex dei tokhon sathe sathe sei element er vitor joto child element ase sob gular display block hoye jay . jar karone child element gula sob gular moddheii custom vabe height width set kora jay 


3. Flex Shrink 

    <div class="parent">
        <span>Hi, I am span.</span>
        <p>Hi, I am paragraph. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe magni maxime magnam sint deserunt. Veritatis possimus eos, id quos cupiditate inventore deleniti rerum quae, asperiores rem suscipit voluptate recusandae a.</p>
        <a href="/">Hi, I am an anchor tag.</a>
    </div>

    style : 
    .parent{ 
      display : flex
    }
    span{
      width : 200px
    }
    p , a {
      width: 400px;
    } 

upore parent div er upor display flex deya and tar child holo span, p and a tag . tader alada alada width deya 

normal obosthay parent div er child ra chaibe amra amader base width niye thakbo . jodi parent div er width 1000 px or 1000 px er beshi hoy tokhon sob child element take deya width niye thakbe . and baki width khali thakbe . kintu jokhon parent div er width 1000 px er kom hobe tokhon aste aste child element er width komte thakbe mathematical way te . mane prottekta child element er width percentage akare komte thakbe 

Example : jodi parent div er width 800 px hoy tar mane 200 px short ase child element er jonno . ai 200 px tara soman percentage akare komeche . tar mane span tag kombe 40px , p and a tag kombe 80 px kore . that's mean 80+80+40 = 200px . tar mane p , a and span tag tader width er 20% komse 

etakeii bole shrink kora 

kintu jodi child element gula ke manually width deya na hoy tahole kivabe width distribute hoy ?? 

Answer : 
tokhon child element er max-content ke sei child element er width dhora hobe . and sei onujayii shrink hobe . i am already know that what is max-content min-content!
kono element er max-content holo tar content-size


4. flex-shrink property 

flex-shrink : 0 => 
jodi kono element er upor flex-shrink : 0 dei tahole sei element kokhonoii shrink korbe na . baki element gula shrink korbe ager technique eii. 

amon element er flex-shrink jodi 0 dei jei element er width onk beshi and eto beshi je parent element er width e kaj hocche na tokhon parent element overflow hobe and scroll bar aisha porbe x okkho borabor

parent er upor flex-shrink : 0 dileo seta child er upor kaj korbe na . child e dite hobe

flex-shrink : 1 => 
1 holo by default value . flex-shrink : 1 deya r na deya ekii kotha .

flex-shrink : 0.5 => 
tar mane holo sob child element jodi 10% shrink kore tahole amake 5% shrink koro

flex-shrink : 2 => 
tar mane holo sob child jodi 10% shrink kore tahole amk 20% shrink koro 


5. flex-grow property 

flex-grow property holo parent element er khali space gula ke child element er moddhe distribute korar ekta way 

by default sob child element e flex-grow : 0; thake . tar mane holo khali space e grow hobe na . 

uporer code span , p and a tag er moddhe jodi only p te flex-grow : 1 kora hoy tahole parent flex item er khali space p tag ekaii dokhol kore nibe and baki tag gula tader default width nibe jeta age nito . jodi p and span tag er moddhe flex-grow : 1 kore deya hoy tahole parent element er khali space p and span tag er moddhe soman vabe distribute hobe . jodi span tag e flex-grow : 3 and p tag e flex-grow : 1 deya hoy tahole span tag er moddhe khali space p tag er tulonay 3 gun beshi distribute hobe and so on...

flex-grow jar beshi thakbe se toto beshi khali space dokhol korbe 

jodi span and p tag er moddhe flex-grow : 1 dei and a tag er moddhe flex-grow : 0.5 dei tahole tar mane daray p and span tag theke ordhek khali space pabe


6. justify-content 

parent element er moddhe child element x okkho borabor kivabe boshbe setar jonnoi ai property 

space-between , space-around , space-evenly er khetre jodi parent element e child element der jayga deyar poreo kono width baiccha thake tokhon sei width child element der moddhe gap hishebe distribute hoy . ta na hole egula kaj kore na .

7. align-items

parent element er moddhe child element y okkho borabor kivabe boshbe setar jonnoi ai property 

jodi ami parent er element er height 500px dei and tar child element gula jodi height default height content-size thake taholeo tara protteke parent er height pabe . karon by default align-items : stretch kora thake . stretch mane holo prosharon kora, bistar kora , tene prosharito kora . tar mane holo child element gula parent er height porjonto stretch hobe tader height 

kintu jodi ami align-items : flex-start dei tahole stretch property shoira jabe and child element gula tader nijeder height e firee ashbe .

align-items : normal and stretch same value and same output 

align-items : flex-end dile child element gular height jar jar content-height thakbe + tara parent element er y okkho borabor ekdom niche chole ashbe 

align-items : center dile child element gular height jar jar content-height thakbe + tara parent element er y okkho borabor center e thakbe 


8. flex-direction 

By Default flex-direction : row thake 

jodi flex-direction : column dei tahole same concept with height . tar mane amra jei flex-grow, flex-shrink use korsi width er sathe egula akhn height er sathe apply hobe 

Example : jodi parent er height 50vh dei and span tag er height fix 200px dei and flex-shrink : 0 dei and p tag er flex-grow : 1 dei tahole span tag 200px height eii thakbe shrink korbe na , barbeo na . tar moddheii p tag khali space er height gula cover korbe and a tag tar content height eii thakbe always . ekdom flex-direction : row thakble jei behaviour kore seta jemon width er sathe and eta hocche height er sathe .



9. flex-basis 

flex-basis property only use in flex-items . parent er moddhe display flex thakle ami chaile child element gula ke width diyeii set korte pari . flex-basis o same kaj kore . flex-basis child element gular moddhe width deyar kaj kore . kintu tahole width and flex-basis er moddhe parthokko ki ? 

difference between width and flex-basis : -> 
#by default parent element er upor flex-direction : row deya thake . kintu jodi flex-direction : column or column-reverse deya thake tokhon height niye ekta jhamela hoy jeta fixed korte hoy onno upaye . kintu ami jodi child element gulay flex-basis diye rakhi tahole seta flex-direction : row er somoy width hishebe set hobe and flex-direction : column hole flex-basis er value child element er jonno height hishebe react korbe . 
#jodi flex-direction : column deyar por kono child element er content size tar flex-basis value thekeo beshi hoye jay tokhon sei child element tar content onujayii height barabe , kintu flex-basis na diye only height dile oi height er beshi se jaito na . tokhon overflow hoito 



10. flex-wrap 



11. gap 

jodi ami chai joto jai hok jate child element gular moddhe kichu space thakuk tahole ami gap property use kori 

jodi justify-content : space-between dei tokhono kintu child element er moddhe gap create hoy . kintu jokhoniii child element er gular width er addition parent element er width theke beshi or soman soman hoye jay tokhon child element er moddhe r space thake na . oi obosthateo jodi ami chai child element gular moddhe space thakuk tahole gap property use korte hobe 

gap 
row-gap 
column-gap 


12. order 

parent element er moddhe child element gular serial maintain korar jonno order property use hoy 

by default sob element er upor order : 0 deya 


13. align-self

ai property use kore amra single child element ke y okkho borabor align korte pari . align-self only single single child element er upor kaj kore . 

align-self er by default value holo auto 

align self er value auto chara r kichu set korle eta parent er height er sathe stretch korbe na . se tokhon tar nijer height apply korbe 


*****Important Notes*****
align-items and align self ekdom same . sudhu parthokko hocche align-items parent e apply hoy and align-self children e apply hoy . parent er sob child er y okkho borabor alignment er jonno use hoy align-items and kono ekta single child ke y okkho borabor align korar jonno use hoy align-self








*/